@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Seaweed Script";
  src: url(/Asset/font/SeaweedScript-Regular.ttf);
}
@font-face {
  font-family: "Poppins-Regular";
  src: url(/Asset/font/Poppins-Regular.ttf);
}

